<nav id="mainNav-mobile">
  <div class="nav-container-mobile">
    <div class="navbar-header">
      <div class='left-side-nav-mobile'>
        <%= link_to root_path, class: "navbar-brand-link" do %>
          <%= image_tag('Logo.png', class: "navbar-brand-mobile page-scroll") %>
          <p>Square</p>
        <% end %>
      </div>
    </div>
    <div class="right-side-nav-mobile">
      <button type="button" class=" btn btn-dark" data-toggle="modal" data-target="#subscribeModal">
        Connect Your Live
      </button>
    </div>
  </div>
</nav>
