<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class='left-side-nav'>
        <%= link_to root_path, class: "navbar-brand-link" do %>
          <%= image_tag('Logo.png', class: "navbar-brand page-scroll") %>
          <p>Square</p>
        <% end %>
      </div>
    </div>
  </div>
</nav>
