<nav id="mainNav">
  <div class="nav-container">
    <div class="navbar-header">
      <div class='left-side-nav'>
        <%= link_to root_path, class: "navbar-brand-link" do %>
          <%= image_tag('Logo.png', class: "navbar-brand page-scroll") %>
          <p>Square</p>
        <% end %>
      </div>
    </div>
    <div class="right-side-nav">
      <button type="button" class=" btn btn-dark" data-toggle="modal" data-target="#subscribeModal">
        Get early access
      </button>
    </div>
  </div>
</nav>


