// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.index-page-bg{
  background-color: #FAFBFD;
}
header#body-up{
  margin-top: -10px;
  .header-content{
    display: flex;
    justify-content: center;
    .header-content-inner{
      margin-top: 50px;
      display: flex;
      align-items: center;
      .left-text{
        border-radius: 8px;
        background-color: white;
        padding: 40px 100px 40px 70px;
        margin-right: -130px;
        text-align: center;
        h1#homeHeading{
          font-family: 'Roboto';
          font-size: 70px;
          font-weight: 700;
          line-height: 85px;
          margin: 0;
          margin-bottom: 30px;
          color: black;
          span{
            color: #1954FF;
            font-size: 90px;
          }
        }
        a{
          background-color: white;
          border-radius: 50px;
          border: 2px solid black;
          color: black;
          width: 45%;
          font-weight: 500;
          padding: 8px 25px;
          text-decoration: none;
          &:hover{
            color: white;
            background-color: #1954FF;
            border-color: #1954FF;
          }
        }
        @media (max-width: 500px){
          a{
            border: 1px solid black;
          }
        }
      }
      img{
        width: 750px;
      }
    }
    @media (max-width: 1400px){
      .header-content-inner{
        margin-top: 50px;
        display: flex;
        align-items: center;
        .left-text{
          border-radius: 8px;
          background-color: white;
          padding: 20px 80px 20px 60px;
          margin-right: -130px;
          h1#homeHeading{
            font-family: 'Roboto';
            font-size: 55px;
            font-weight: 700;
            line-height: 85px;
            margin: 0;
            margin-bottom: 10px;
            span{
              font-size: 70px;
            }
          }
        }
        img{
          width: 650px;
        }
      }
    }
    @media (max-width: 1050px){
      .header-content-inner{
        margin-top: 50px;
        display: flex;
        align-items: center;
        .left-text{
          border-radius: 8px;
          background-color: white;
          padding: 20px 90px 20px 50px;
          margin-right: -130px;
          h1#homeHeading{
            font-family: 'Roboto';
            font-size: 45px;
            font-weight: 700;
            margin: 0;
            margin-bottom: 10px;
            span{
              font-size: 57px;
            }
          }
        }
        img{
          width: 550px;
        }
      }
    }
    @media (max-width: 900px){
      .header-content-inner{
        margin-top: 30px;
        display: flex;
        flex-direction: column-reverse;
        .left-text{
          border-radius: 8px;
          background-color: white;
          padding: 20px 50px 20px 50px;
          margin: 0;
          margin-top: -40px;
          h1#homeHeading{
            text-align: center;
            font-family: 'Roboto';
            font-size: 51px;
            font-weight: 700;
            line-height: 65px;
            margin: 0;
            margin-top: 20px;
            margin-bottom: 10px;
            span{
              font-size: 65px;
            }
          }
        }
        img{
          width: 500px;
        }
      }
    }
    @media (max-width: 450px){
      .header-content-inner{
        margin-top: 30px;
        display: flex;
        flex-direction: column-reverse;
        .left-text{
          border-radius: 8px;
          background-color: white;
          padding: 20px 50px 20px 50px;
          margin: 0;
          margin-top: -40px;
          h1#homeHeading{
            text-align: center;
            font-family: 'Roboto';
            font-size: 39px;
            font-weight: 700;
            line-height: 65px;
            margin: 0;
            margin-top: 20px;
            margin-bottom: 10px;
            span{
              font-size: 50px;
            }
          }
        }
        img{
          width: 380px;
        }
      }
    }
  }
}

aside.body-down{
  margin-top: -20px;
  .service-box{
    a{
      i{
        font-size: 50px;
        color: #333333;
      }
      h3{
        color: #2A5FF6;
      }
      &:hover{
        color: #2A5FF6;
      }
    }
  }
}
