// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.index-page-bg{
  background-color: #FAFBFD;
  min-height: 100vh
}
header#body-up{
  margin-top: -10px;
  .header-content{
    display: flex;
    justify-content: center;
    .header-content-inner{
      margin-top: 60px;
      display: flex;
      align-items: center;
      .left-text{
        border-radius: 8px;
        background-color: white;
        padding: 40px 100px 40px 70px;
        margin-right: -130px;
        text-align: center;
        h1#homeHeading{
          font-family: 'Roboto';
          font-size: 60px;
          font-weight: 700;
          line-height: 85px;
          margin: 0;
          margin-bottom: 15px;
          margin-top: -10px;
          color: black;
          span{
            color: #1954FF;
            font-size: 80px;
          }
        }
        p{
          font-family: 'Roboto';
          font-size: 25px;
          color: #4A4A4A;
          margin: 0;
        }
        @media (max-width: 500px){
          a{
            border: 1px solid black;
          }
        }
      }
      img{
        width: 750px;
      }
    }
    @media (max-width: 1400px){
      .header-content-inner{
        margin-top: 50px;
        display: flex;
        align-items: center;
        .left-text{
          border-radius: 8px;
          background-color: white;
          padding: 20px 80px 20px 60px;
          margin-right: -130px;
          h1#homeHeading{
            font-family: 'Roboto';
            font-size: 55px;
            font-weight: 700;
            line-height: 85px;
            margin: 0;
            margin-bottom: 10px;
            span{
              font-size: 70px;
            }
          }
        }
        img{
          width: 650px;
        }
      }
    }
    @media (max-width: 1050px){
      .header-content-inner{
        margin-top: 50px;
        display: flex;
        align-items: center;
        .left-text{
          border-radius: 8px;
          background-color: white;
          padding: 20px 90px 20px 50px;
          margin-right: -130px;
          h1#homeHeading{
            font-family: 'Roboto';
            font-size: 45px;
            font-weight: 700;
            margin: 0;
            margin-bottom: 10px;
            span{
              font-size: 57px;
            }
          }
        }
        img{
          width: 550px;
        }
      }
    }
    @media (max-width: 900px){
      .header-content-inner{
        margin-top: 30px;
        display: flex;
        flex-direction: column-reverse;
        .left-text{
          border-radius: 8px;
          background-color: white;
          padding: 20px 50px 20px 50px;
          margin: 0;
          margin-top: -40px;
          h1#homeHeading{
            text-align: center;
            font-family: 'Roboto';
            font-size: 51px;
            font-weight: 700;
            line-height: 65px;
            margin: 0;
            margin-top: 20px;
            margin-bottom: 10px;
            span{
              font-size: 65px;
            }
          }
        }
        img{
          width: 500px;
        }
      }
    }
    @media (max-width: 450px){
      .header-content-inner{
        margin-top: 30px;
        display: flex;
        flex-direction: column-reverse;
        .left-text{
          border-radius: 8px;
          background-color: white;
          padding: 20px 50px 20px 50px;
          margin: 0;
          margin-top: -40px;
          h1#homeHeading{
            text-align: center;
            font-family: 'Roboto';
            font-size: 39px;
            font-weight: 700;
            line-height: 65px;
            margin: 0;
            margin-top: 20px;
            margin-bottom: 10px;
            span{
              font-size: 50px;
            }
          }
        }
        img{
          width: 380px;
        }
      }
    }
  }
}

aside.body-down{
  margin-top: -20px;
  hr.primary{
    background-color: #F5F7FA;
  }
  .service-box{
    p{
      margin-bottom: 5px;
      img.youtube-icon{
        width: 75px;
        margin-bottom: 5px;
      }
      img.fb-icon{
        width: 75px;
        margin-bottom: 4px;
      }
    }
    a{
      i{
        font-size: 50px;
        color: #333333;
        padding: 10px 0 20px;
      }
      img{
        width: 60px;
        margin-top: -25px;
        padding: 10px 0 20px;
      }
      h3{
        color: #2A5FF6;
        padding: 5px 0 10px;
      }
      &:hover{
        color: #2A5FF6;
      }
    }
  }
}
.button-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .btn-content{
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      margin: 30px 0 50px;
      padding: 12px 80px;
      // background-color: #235BF6;
      color: white;
      font-family: 'Roboto';
      font-size: 18px;
      font-weight: 400;
      border-radius: 5px;
      text-decoration: none;
      background-color: #2A5FF6;
      border: 1px solid #2A5FF6;
      &:hover{
        background-color: #1142CC;
      }
    }
  }
}


.modal-header{
  div{
    h4{

    }
    p{
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
}


.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem 1rem !important;
  border: 1px solid transparent !important;
  input{
    margin: 0;
  }
}





// MOBILE


.index-container-mobile{
  background-color: #FAFBFD;
  .page-1-index-mobile{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: 300px;
    }
    .text{
      margin-top: 20px;
      text-align: center;
      h1{
        font-family: 'Roboto';
        font-size: 38px;
        font-weight: 600;
        margin: 0;
        margin-bottom: 15px;
        margin-top: -10px;
        color: black;
        text-align: center;
        span{
          color: #1954FF;
          font-size: 50px;
        }
      }
      p{
        text-align: center;
        font-family: 'Roboto';
        font-size: 17px;
        color: #4A4A4A;
        margin: 0;
      }
      button{
        margin: 30px 0 50px;
        padding: 6px 65px;
        color: white;
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 400;
        border-radius: 5px;
        text-decoration: none;
        background-color: #2A5FF6;
        border: 1px solid #2A5FF6;
        &:hover{
          background-color: #1142CC;
        }
      }
    }
  }
  .page-2-index-mobile{
    .page-2-index-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      .service-box{
        text-align: center;
        margin-bottom: 30px;
        p{
          margin-bottom: 5px;
          img.youtube-icon{
            width: 75px;
            margin-bottom: 5px;
          }
          img.fb-icon{
            width: 75px;
            margin-bottom: 4px;
          }
        }
        a{
          i{
            font-size: 40px;
            color: #333333;
            padding: 10px 0;
          }
          img{
            width: 50px;
            padding: 10px 0;
          }
          h3{
            color: #2A5FF6;
            padding: 5px 0 10px;
          }
          &:hover{
            color: #2A5FF6;
          }
        }
      }
      button{
        margin: 30px 0 50px;
        padding: 6px 65px;
        color: white;
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 400;
        border-radius: 5px;
        text-decoration: none;
        background-color: #2A5FF6;
        border: 1px solid #2A5FF6;
        &:hover{
          background-color: #1142CC;
        }
      }
    }
  }
}








